nav .navbar-brand
{
    /* size for band */
    font-size: xx-large;
    color: #ea433b;
}
/* colors for band */
nav .navbar-brand .black
{
    color: #000000;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .white
{
    color: #e4d7d6;
}
nav .nav-item
{
    color: white;
}

.invisible
{
    /* class for things that should be invisible by default.*/
    display:none;
}

.popover
{ 
    /* fix flickering tooltip issue */
    pointer-events: none; 
}

.table-wrapper 
{
    display:inline-flex;
}

.table-danger
{
    color:#fff;
    background-color:#424A51;
}

#err
{
    text-shadow: 0px 2px 1px #000000;
}

body
{
    /* image (free license) adapted from https://unsplash.com/photos/WjnF1Tp-p3I */
    background-image: url('bg.jpg');
    background-color: #490506;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

footer
{
    color: #d6d8db;
}
