{% extends "layout.html" %}

{% block title %}
    IncreDemic
{% endblock %}

{% block main %}
    <div class="container p-3">
        <table class="table table-borderless table-dark">
            <thead>
                <tr>
                    <th>About</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>IncreDemic</b> is an incremental game where you play a Virus with the goal of wiping out the planet. To get started, click the "Infect" button and spread your disease.</td>
                </tr>
                <tr>
                    <td>It is still very much under construction -- any feedback, questions, or bug reports can be sent @khorolk on Twitter.</td>
                </tr>
                <tr>
                    <td>Thanks for playing !</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}