<div class="table-responsive">
    <table class="table table-light">
        <thead>
        <tr>
            <th colspan="8">Evolution</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <!-- Symptom Table-->
                    <table class="table table-borderless table-secondary">
                        <thead>
                            <tr>
                                <th colspan="8">Symptoms</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">Current Symptoms : <span id="sympList">None lfgkhm f lfkhm fdlkg mslfk gmfdl glkdmg </span></td>
                            </tr>
                            <tr>
                                <td>Cough</td>
                                <td>Sneeze</td>
                                <td>Headache</td>
                                <td>Nausea</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <!-- Adaptation Table -->
                    <table class="table table-borderless table-secondary">
                        <thead>
                            <tr>
                                <th colspan="8">Adaptations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">Current Adaptations : <span id="adapList">None</span></td>
                            </tr>
                            <tr>
                                <td><a id="autoRep" class="btn btn-outline-danger btn-sm" role="button" data-content="The Virus can replicate automatically through transmission. Costs 5 Replication." rel="popover" data-placement="top" data-trigger="hover" onclick="adapUpgrade('autoRep')">Auto Replicate</a></td>
                                <td>Unlock more Transmission</td>
                                <td>Unlock more Symptoms</td>
                                <td>Heat resistance</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>