<div class="table-responsive">
    <table class="table table-light">
        <thead>
        <tr>
            <th colspan="8">Evolution</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <!-- Symptom Table-->
                    <table class="table table-borderless table-secondary">
                        <thead>
                            <tr>
                                <th colspan="8">Symptoms</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">Current Symptoms : <span id="sympList">None</span></td>
                            </tr>
                            <tr>
                                <td><a id="cough" class="btn btn-outline-danger btn-sm" role="button" data-content="Spread the virus by coughing into the surrounding air. Costs 00 Infected." rel="popover" data-placement="top" data-trigger="hover" onclick="buySymptom('cough')">Coughing</a></td>
                                <td><a id="sneeze" class="btn btn-outline-danger btn-sm" role="button" data-content="Sudden expulsion of virus greatly increases infection rate. Costs 00 Infected." rel="popover" data-placement="top" data-trigger="hover" onclick="buySymptom('sneeze')">Sneezing</a></td>
                                <td><a id="headache" class="btn btn-outline-danger btn-sm" role="button" data-content="A mild, but irritating headache decreases victim's productivity. Costs 00 Infected." rel="popover" data-placement="top" data-trigger="hover" onclick="buySymptom('headache')">Headache</a></td>
                                <td><a id="nausea" class="btn btn-outline-danger btn-sm" role="button" data-content="Slight sickness with a minor increase to infectivity. Costs 00 Infected." rel="popover" data-placement="top" data-trigger="hover" onclick="buySymptom('nausea')">Nausea</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <!-- Adaptation Table -->
                    <table class="table table-borderless table-secondary">
                        <thead>
                            <tr>
                                <th colspan="8">Adaptations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">Current Adaptations : <span id="adapList">None</span></td>
                            </tr>
                            <tr>
                                <td><a id="autoRep" class="btn btn-outline-danger btn-sm" role="button" data-content="The Virus can replicate automatically through transmission. Costs 5 Replication." rel="popover" data-placement="top" data-trigger="hover" onclick="adapUpgrade('autoRep')">Auto Replicate</a></td>
                                <td><a id="heat1" class="btn btn-outline-danger btn-sm" role="button" data-content="Strengthen the Virus' resistance to heat, allowing it to infect more. Costs 10 Replication and 100 Infected." rel="popover" data-placement="top" data-trigger="hover" onclick="adapUpgrade('heat1')">Heat Resistance</a></td>
                                <td><a id="cold1" class="btn btn-outline-danger btn-sm" role="button" data-content="Strengthen the Virus' resistance to cold, allowing it to infect more. Costs 10 Replication and 100 Infected." rel="popover" data-placement="top" data-trigger="hover" onclick="adapUpgrade('cold1')">Cold Resistance</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>