{% extends "layout.html" %}

{% block title %}
    IncreDemic
{% endblock %}

{% block main %}
{% include "modmob.html" %}
    <font id="err" color="#ea433b"></font>
    <font id="suc" color="#4caf50"></font>
    <font id="test"></font>
    <br><br>

    <div class="container">
        <div class="row">
          <div class="col-sm">
              <div class="table-responsive">
                <table class="table table-borderless table-dark">
                  <thead>
                    <tr>
                      <th><button type="button" class="btn btn-outline-danger btn-lg" id="clickButton" onclick="infect()">Infect</button></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Infected : <span id="infected">0</span></td>
                    </tr>
                    <tr>
                      <td>Replication : <span id="replication">0</span></td>
                    </tr>
                    <tr id="virul" style="display:none;"">
                      <td><span id="virulence"></span></td>
                    </tr>
                    <tr>
                      <td><span id="deaths"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          {% include "transmission.html" %}
          <br>
          {% include "evolution.html" %}
        </div>
      </div>

      <script src="/static/mainscrpt.js"></script>
{% endblock %}