<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Boostrap http://getbootstrap.com/docs/4.1/ -->
        <link href="/static/lib/bootstrap.css" rel="stylesheet">
        <script src="/static/lib/jquery.js"></script>
        <script src="/static/lib/popper.js"></script>
        <script src="/static/lib/bootstrap.js"></script>

        <!-- Custom linked files -->
        <link rel="stylesheet" href="/static/interface.css">
        <link rel="shortcut icon" href="/static/icon.ico">

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-dark">
            <a class="navbar-brand" href="/"><img src="/static/icon.png" alt="IncreDemic" height="38" width="38"><span class="red"> IncreDemic {% if gheaders %}:{% endif %} </span><span class ="white" id="virusName"></span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">

                </ul>
                {% if gheaders %}
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><span id="about"><a class="nav-link" href="/about"><font color="#ea433b">About</font></a></span></li>
                    <li class="nav-item"><span id="rename" onclick="nameVirus()"><a class="nav-link" href="#"><font color="white">Rename</font></a></span></li>
                    <li class="nav-item"><span id="save" onclick="save()"><a class="nav-link" href="#"><font color="white">Save</font></a></span></li>
                    <li class="nav-item"><span id="load" onclick="tryload()"><a class="nav-link" href="#"><font color="white">Load</font></a></span></li>
                    <li class="nav-item"><span id="del" onclick="deleteSave()"><a class="nav-link" href="#"><font color="white">Delete Save</font></a></span></li>
                </ul>
                {% endif %}
            </div>
        </nav>

        <main class="container p-3">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center">
            <span id="timedisplay"></span>
        </footer>

    </body>

</html>
