<!--Default Table - choose specialisation-->
<div class="col-sm">
    <div class="table-responsive">
      <span id="choosePath">
        <table class="table table-light" id="transPath">
          <thead>
            <tr>
              <th colspan="8">Transmission</th>
            </tr>
            <tr>
              <td colspan="8">
                <font class="small text">Choose Transmission specialisation to spread infection automatically (Requires 2 Replication)</font>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a id="bdroplet" class="btn btn-outline-danger btn-sm" role="button" onclick="transPath('droplet')">Droplet</a></td>
              <td><a id="bwait" class="btn btn-outline-danger btn-sm" role="button" onclick="transPath('sitwait')">Sit and Wait</a></td>
              <td><a id="bvector" class="btn btn-outline-danger btn-sm" role="button" onclick="transPath('vector')">Vector</a></td>
              <td><a id="bcontact" class="btn btn-outline-danger btn-sm" role="button" onclick="transPath('contact')">Contact</a></td>
            </tr>
          </tbody>
        </table>
      </span>

        <!--Upgrades: Droplet-->
        <span id="droplet" style="display:none;">
            <table class="table table-light" id="transPath">
            <thead>
                <tr>
                <th colspan="8">Transmission : Droplet</th>
                </tr>
                <tr>
                <td colspan="8">
                    <span id="dupgradeList">None</span>
                </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><a id="breath" class="btn btn-outline-danger btn-sm" role="button" data-content="Allow the Virus to spread from the host's Breath, increasing risk from Coughing. Costs 5 Replication." rel="popover" data-placement="left" data-trigger="hover" onclick="dropletUpgrade('breath')">Breath</a></td>
                <td><a id="mucus" class="btn btn-outline-danger btn-sm" role="button" data-content="Allow the Virus to spread from the host's Mucus, increasing risk from Sneezing. Costs 5 Replication." rel="popover" data-placement="bottom" data-trigger="hover" onclick="dropletUpgrade('mucus')">Mucus</a></td>
                <td><a id="saliva" class="btn btn-outline-danger btn-sm" role="button" data-content="Allow the Virus to spread from the host's Saliva, making food and drink an infection risk. Costs 25 Replication." data-placement="bottom" rel="popover" data-trigger="hover" onclick="dropletUpgrade('saliva')">Saliva</a></td>
                <td></td>
                </tr>
            </tbody>
            </table>
        </span>

        <!--Upgrades: Sit and Wait-->
        <span id="sitwait" style="display:none;">
            <table class="table table-light" id="transPath">
                <thead>
                <tr>
                    <th colspan="8">Transmission : Sit and Wait</th>
                </tr>
                <tr>
                    <td colspan="8">
                        <span id="supgradeList">None</span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a id="envelope" class="btn btn-outline-danger btn-sm" role="button" data-content="Develops a capsid with no outer lipid membrane, allowing increased survivability. Costs 25 Transmission." rel="popover" data-placement="left" data-trigger="hover" onclick="waitUpgrade('envelope')">Non-enveloped Virus</a></td>
                    <td><a id="suspension1" class="btn btn-outline-danger btn-sm" role="button" data-content="Virus can suspend itself outside of living host, dormant. Costs 5 Transmission." rel="popover" data-trigger="hover" data-placement="top" onclick="waitUpgrade('suspension1')">Suspension</a></td>
                    <td><a id="multiply" class="btn btn-outline-danger btn-sm" role="button" data-content="Allows the Virus to replicate even when outside of a host, slightly increasing Replication rate. Costs 25 Transmission." rel="popover" data-placement="left" data-trigger="hover" onclick="waitUpgrade('multiply')">Multiplication</a></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </span>

        <!--Upgrades: Vector-->
        <span id="vector" style="display:none;">
            <table class="table table-light" id="transPath">
                <thead>
                <tr>
                    <th colspan="8">Transmission : Vector</th>
                </tr>
                <tr>
                    <td colspan="8">
                        <span id="vupgradeList">None</span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </span>

        <!--Upgrades: Contact-->
        <span id="contact" style="display:none;">
            <table class="table table-light" id="transPath">
                <thead>
                <tr>
                    <th colspan="8">Transmission : Contact</th>
                </tr>
                <tr>
                    <td colspan="8">
                        <span id="cupgradeList">None</span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </span>  

    </div>
</div>